/* /Pages/Index.razor.rz.scp.css */
.key[b-qq06itbsp4] {
    font-family: "Consolas";
    font-size: 250%;
    width: 100%;
    min-height: 90px;
    margin-bottom: 10px;
}

.myButton[b-qq06itbsp4] {
    margin-left: 10px; 
    max-height: 38px; 
    min-width: 79px;
    max-width: 147px;
}

.refer[b-qq06itbsp4] {
    font-family: "Consolas";
    font-size: 150%;
    width: 100%;
    min-height: 80px;
    min-width: 60px;
    margin-bottom: 10px;
}

.author[b-qq06itbsp4] {
    margin-bottom: 10px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-nhzbkxznbz] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-nhzbkxznbz] {
    flex: 1;
}

.sidebar[b-nhzbkxznbz] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-nhzbkxznbz] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-nhzbkxznbz]  a, .top-row .btn-link[b-nhzbkxznbz] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-nhzbkxznbz] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-nhzbkxznbz] {
        display: none;
    }

    .top-row.auth[b-nhzbkxznbz] {
        justify-content: space-between;
    }

    .top-row a[b-nhzbkxznbz], .top-row .btn-link[b-nhzbkxznbz] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-nhzbkxznbz] {
        flex-direction: row;
    }

    .sidebar[b-nhzbkxznbz] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-nhzbkxznbz] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-nhzbkxznbz] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
