.key {
    font-family: "Consolas";
    font-size: 250%;
    width: 100%;
    min-height: 90px;
    margin-bottom: 10px;
}

.myButton {
    margin-left: 10px; 
    max-height: 38px; 
    min-width: 79px;
    max-width: 147px;
}

.cap-result {
    min-height: 90px;
}

.actions {
    min-width: 183px;
}

.refer {
    font-family: "Consolas";
    font-size: 150%;
    width: 100%;
    min-height: 80px;
    min-width: 60px;
    margin-bottom: 10px;
}

.author {
    margin-bottom: 10px;
}